<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand" href="#">shopply</a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item" *ngIf="!(user$ | async)">
          <a class="nav-link btn btn-outline-secondary fw-bold py-2 px-4 rounded-pill" routerLink="/login">Login</a>
        </li>
        <li class="nav-item ms-2" *ngIf="!(user$ | async)">
          <a class="nav-link btn btn-primary text-white fw-bold py-2 px-4 rounded-pill" routerLink="/sign-up">Sign Up</a>
        </li>
        <li class="nav-item" *ngIf="user$ | async as user">
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Welcome, {{ user.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li><a class="dropdown-item" routerLink="/my-lists">My Lists</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item ms-2" *ngIf="user$ | async">
          <button class="btn btn-outline-secondary" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>